# MailerSend Configuration
MAILERSEND_API_TOKEN=mlsn.356498f8358790410a1dbde99a936a503e2e2d841843f69ce2958785db57f1e5
TO_EMAILS=mohammed@datamatically.com #,charlie@datamatically.com
FROM_EMAIL=verified_sender@from_your_domain.com
